<div class="container">
  <div class="col-sm-6"><img src="images/people.jpg" alt="people" /></div>
  <div class="col-sm-6">
    <h1>Welcome!</h1>
    <p>
      Please check out all the cool new courses by our innovative and creative
      chefs.
    </p>
    <p>
      If you want to see a new course, click
      <a href="/courses.html">the courses page</a> and explore!
    </p>
    <p>
      When you see a course you like you can
      <a href="/contact.html">contact us to join! </a> Soon you'll be cooking in
      your own home.
    </p>
  </div>
</div>
