<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Capstone</title>
    <link rel="shortcut icon" type="image/png" href="/images/icon.png" />
    <link rel="stylesheet" href="/css/bootstrap" />
    <link rel="stylesheet" href="/css/confetti_cuisine.css" />
  </head>
  <body>
    <div id="nav">
      <div class="col-sm nav-align">
        <h1 id="title">Capstone</h1>
      </div>
      <div class="col-sm nav-align">
        <a href="/"><span class="button">Home</span></a>
        <a href="/courses"><span class="button">Courses</span></a>
        <a href="/contact"><span class="button">Contact</span></a>
      </div>
    </div>

    <%- body %>
  </body>
</html>
