<div class="thumbnail">
  <img src="http://placehold.it/820x320" alt="Picture of a thumbnail" />
  <div>
    <h4 class="float-right">{{ product.price }}</h4>
    <h4>{{ product.title }}</h4>
    <p>{{ product.description }}</p>
  </div>
  <div class="ratings">
    <p><nga-stars [rating]="product.rating"></nga-stars></p>
  </div>
</div>
