<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a [routerLink]="['/']" class="navbar-brand">ngAuction</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="collapsed = !collapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="navbar-collapse"
    id="navbarSupportedContent"
    [class.collapse]="collapsed"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="#" class="nav-link"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      <li ngbDropdown class="nav-item dropdown">
        <a
          href="#"
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ngbDropdownToggle
          >Services</a
        >
        <div
          ngbDropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdown"
        >
          <a href="#" class="dropdown-item">Find products</a
          ><a href="#" class="dropdown-item">Place order</a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">Pay</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
