<form name="searchForm">
  <div class="form-group">
    <label for="productTitle">Product title:</label>
    <input
      type="text"
      id="productTitle"
      placeholder="Title"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="productPrice">Product price:</label>
    <input
      type="number"
      min="0"
      id="productTitle"
      placeholder="Price"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="productCategory">Product category:</label>
    <select id="productCategory" class="form-control"></select>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-primary btn-block">
      Search
    </button>
  </div>
</form>
