<div class="thumbnail">
  <img src="http://placehold.it/320x150" alt="" />
  <div class="caption">
    <h4 class="float-right">{{ product.price | currency }}</h4>
    <h4>
      <a [routerLink]="['/products', product.id]">{{ product.title }}</a>
    </h4>
    <p>{{ product.description }}</p>
  </div>
  <div class="ratings">
    <nga-stars [rating]="product.rating"></nga-stars>
  </div>
</div>
